html, body
{
    margin: 0;
    padding: 0;
    height:100%;
 min-height:100%; 
}
body{
	
	
}
#header{
	height: 50%;
	background-image:url('Desert.jpg');
 background-size:100% 100%;
 background-clip: padding-box;
background-attachment: scroll;
  
  background-repeat: no-repeat;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 1%;

}
.links{
	border: 1px solid transparent;
	transition: border 1s;
	color: black;
	text-decoration: none;
	padding: 5px;
	padding-top: 100%;
	font-size: x-large;
}
.links:hover{
	border: 1px solid black;
	transition: border 1s;
	border-top:0;

}
#active{
	border: 1px solid black;

}
#nav{
	float:right;
}
#logo{
	float: left;
	width: 50%;
	height:50%;
}
.paragraph{
	padding-left: 2%;
	width:65%;
	overflow-wrap: break-word;
	float: left;

}
p{
	font-size: 150%
}
.pictures{
	padding-top: 2%;
	float: right;
	width:30%;
}
.pics{
	width: 100%
}
#footer{
	padding:1%;
	padding-top:0;
background-color: black;
color:white;
text-align: center;
	clear: both;
}